<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
 <select id="selectDataAll" resultType="pack.model.JikwonDto">
  select jikwon_no,jikwon_name,buser_name,jikwon_jik,jikwon_ibsail,buser_num from jikwon,buser where jikwon.buser_num = buser.buser_no order by buser_name,jikwon_name
 </select>
 
 <select id="selectDataBuser" parameterType="String" resultType="pack.model.JikwonDto">
 	 select jikwon_no,jikwon_name,buser_name,jikwon_jik,jikwon_ibsail,buser_num from jikwon,buser  where jikwon.buser_num = buser.buser_no and buser_num="${value}" order by buser_name,jikwon_name
 </select>
 
 <select id="selectBuser" parameterType="String" resultType="pack.model.BuserDto">
 	select * from buser where buser_no="${value}"
 </select>
</mapper>